<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Calzado Ombu| Calzado de Seguridad Laboral</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta  name = "keywords" content = "Seguridad, ropa, trabajo, industrial, indumentaria, laboral, calzado">
    	<meta name="description" content= "Distribuidores de ropa de trabajo y calzado de seguridad">		
		<!--css-->
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/megamenu.css">
		<!--font-->
		<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">	
	</head>
  <body>
    	<!--Nav home-->
		<section class="cover text-center">
			<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
				<div class="container">
					<a class="navbar-brand" href="../index.html">
						<img src="../images/seguridad.png" alt="Seguridad a tus pies">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarSupportedContent">
						<ul class="navbar-nav mt-2 mt-md-0">
							<li class="nav-item active">
								<a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="../index.html#nosotros">Sobre nosotros</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#categoria">Categorías</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="../index.html#contacto">Contacto</a>
							</li>
							<li class="nav-item">
								<a class="btn btn-outline-white btn-outline" href="http://seguridadatuspies.mercadoshops.com.ar" target="_blank">Tienda Online</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</section>

		<!--Nav categorias-->
		<nav class="header-bottom navbar navbar-expand-lg navbar-dark" id="categoria">
			<h5>Categorías</h5>
			<button class="navbar-toggler navbar-dos" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
				<ul class="megamenu skyblue">
					<li><a class="color1" href="categoriasOmbu.html">Calzado Ombu / Aire Libre</a></li>
					<li><a class="color2" href="categoriasCas.html">Calzado CAS</a></li>		
					<li><a class="color3" href="categoriasPisfer.html">Calzado Pisfer</a></li>
					<li><a class="color4" href="categPant.html">Pantalones y Bombachas</a></li>
					<li><a class="color5" href="categCami.html">Camisas y Mamelucos</a></li>
					<li><a class="color6" href="campera.html">Campera y Faja Lumbar</a></li>
					<li><a class="color7" href="categLluvia.html">Ropa de Lluvia</a></li>
				</ul>
			</div>
    </nav>
    
   <main>
    <section class="cta-5 text-center justify-center">
      <div class="container">
        <div>
            <h3>Calzado Ombu</h3>
            <div class="divider"></div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h5 class="modelo">MODELO OZONO</h5>
              <div class="divider-lg"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/zapato-ozono-negro.jpg" alt="Zapato Ozono">
                  <div class="caption">
                      <h4>Zapato Ozono Negro</h4>
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="rounded">
                  <img class="imagen__catalogo" src="../images/zapato-ozono-marron.jpg" alt="Zapato Ozono Marrón">
                    <div class="caption">
                      <h4>Zapato Ozono Marrón</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">   
                <img class="imagen__catalogo" src="../images/zapato-ozono-blanco.jpg" alt="Zapato Ozono">
                  <div class="caption">
                    <h4>Zapato Ozono Blanco</h4>
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-ozono-marron.jpg" alt="Botín Ozono">
                  <div class="caption">
                    <h4>Botín Ozono Marrón</h4>
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-ozono-negro.jpg" alt="Botin Ozono">
                  <div class="caption">
                    <h4>Botín Ozono Negro</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-ozono-blanco.jpg" alt="Botín Ozono">
                  <div class="caption">
                    <h4>Botín Ozono Blanco</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/borcegui-ozono-negro.jpg" alt="Borceguí Ozono">
                  <div class="caption">
                    <h4>Borceguí Ozono Negro</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/borcegui-ozono-marron.jpg" alt="Borceguí Ozono">
                  <div class="caption">
                    <h4>Borceguí Ozono Marrón</h4>
                  </div>  
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <h5 class="modelo"> MODELO KRYPTON</h5>
              <div class="divider-lg"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-krypton.jpg" alt="Botín Krypton">
                  <div class="caption">
                    <h4>Botín Krypton</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/zapatilla-krypton.jpg" alt="Zapatilla Krypton">
                  <div class="caption">
                    <h4>Zapatilla Krypton</h4>
                  </div>  
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <h5 class="modelo"> MODELO PRUSIANO</h5>
              <div class="divider-lg"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/zapato-prusiano.jpg" alt="Zapato Prusiano">
                  <div class="caption">
                    <h4>Zapato Prusiano</h4>
                  </div>  
              </div>
            </div>
                
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <h5 class="modelo"> MODELO COBALTO</h5>
              <div class="divider-lg"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-cobalto.jpg" alt="Botín Cobalto">
                  <div class="caption">
                    <h4>Botín Cobalto</h4>
                  </div>  
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <h5 class="modelo"> MODELO FRANCES</h5>
              <div class="divider-lg"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-frances-marron.jpg" alt="Botín Frances">
                  <div class="caption">
                    <h4>Botín Frances Marrón</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-frances-negro.jpg" alt="Botín Frances">
                  <div class="caption">
                    <h4>Botín Frances Negro</h4>
                  </div>  
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <h5 class="modelo"> MODELO ZINC</h5>
              <div class="divider-lg"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-zinc-blanco.jpg" alt="Botín Zinc">
                  <div class="caption">
                    <h4>Botín Zinc Blanco</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-zinc-marron.jpg" alt="Botín Zinc">
                  <div class="caption">
                    <h4>Botín Zinc Marrón</h4>
                  </div>  
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <h5 class="modelo"> MODELO SNEAKER</h5>
              <div class="divider-lg"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/zapatilla-sneaker-gris.jpg" alt="Zapatilla Sneaker">
                  <div class="caption">
                    <h4>Zapatilla Sneaker Gris</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-4 col-md4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/zapatilla-sneaker-marron.jpg" alt="Zapatilla Sneaker">
                  <div class="caption">
                    <h4>Zapatilla Sneaker Marrón</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/zapatilla-sneaker-negra.jpg" alt="Zapatilla Sneaker">
                  <div class="caption">
                    <h4>Zapatilla Sneaker Negra</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-sneaker-gris.jpg" alt="Botín Sneaker">
                  <div class="caption">
                    <h4>Botín Sneaker Gris</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-sneaker-marron.jpg" alt="Botín Sneaker">
                  <div class="caption">
                    <h4>Botín Sneaker Marrón</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botin-sneaker-negro.jpg" alt="Botín Sneaker">
                  <div class="caption">
                    <h4>Botín Sneaker Negro</h4>
                  </div>  
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <h5 class="modelo"> MODELO MICA</h5>
              <div class="divider-lg"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/zapatilla-mica.jpg" alt="Zapatilla Mica">
                  <div class="caption">
                    <h4>Zapatilla Mica</h4>
                  </div>  
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <h5 class="modelo"> MODELO GEMA</h5>
              <div class="divider-lg"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/zapatilla-gema-marron.jpg" alt="Zapatilla Gema">
                  <div class="caption">
                    <h4>Zapatilla Gema Marrón</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/zapatilla-gema-gris.jpg" alt="Zapatilla Gema">
                  <div class="caption">
                    <h4>Zapatilla Gema Gris</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botita-gema-gris.jpg" alt="Botita Gema">
                  <div class="caption">
                    <h4>Botita Gema Gris</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/botita-gema-marron.jpg" alt="Botita Gema">
                  <div class="caption">
                    <h4>Botita Gema Marrón</h4>
                  </div>  
              </div>
            </div>
            <div id="petrombu" class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <h5 class="modelo"> MODELO PETROMBU</h5>
              <div class="divider-lg"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/bota-pretombu.jpg" alt="Bota Petrombu">
                  <div class="caption">
                    <h4>Bota Petrombu PU/Goma</h4>
                  </div>  
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/bota-pretombu-cierre.jpg" alt="Bota Petrombu">
                  <div class="caption">
                    <h4>Bota Petrombu con cierre</h4>
                  </div>  
              </div>
            </div>
          </div>
        </div>
      </div>           
    </section>


    <section class="cta-5 text-center justify-center">
      <div class="container">
        <div>
          <h3>Calzado Ombu Aire Libre</h3>
          <div class="divider"></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <h5 class="modelo">MODELO EVEREST</h5>
          <div class="divider-lg"></div>
        </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="rounded">
                <img class="imagen__catalogo" src="../images/zapatilla-everest.jpg" alt="Zapatilla Everest">
                  <div class="caption">
                      <h4>Zapatilla Everest</h4>
                  </div>
              </div>
            </div>
          </div> 
      </div>
    </section>

  </main>

<!--footer-->
<footer class="footer-4">
 <div class="container">
   <div class="row mb-5 text-center text-md-left">
     <div class="col-md-3 col-lg-4 mb-3">
         <a href="../index.html">
           <img class="imagen-responsive logo" src="../images/seguridad.png" alt="seguridad a tus pies">
         </a>
     </div>
     <div class="col-md-3 col-lg-2 pt-2">
       <h4 class="nav-item">Telefono</h4>
         <p> 1. 2054-2046 </br> 2. 2087-6953 </p>
     </div>
     <div class="col-md-3 col-lg-2 pt-2">
       <h4 class="nav-item">Dirección</h4>
         <p>Balcarce 882, <br />
         Lanús Oeste</p>
     </div>
     <div class="col-md-3 col-lg-2 pt-2">
       <h4 class="nav-item">Email</h4>
       <a class="nav-link" href="mailto:seguridadlanus@hotmail.com">
           <p>seguridadlanus@hotmail.com</p>
       </a>
     </div>
   </div>
 </div>
 <div class="container-fluid">
   <div class="divider"></div>
 </div>
 <div class="container">
   <div class="row">
     <div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
       <a href="https://www.ddcweb.com.ar"  target="_blank"><img class="ddc" src="../images/logo.svg" alt="DDC Web Diseño Web"></a>
       <span>DDC Diseño Web</span>
     </div>
     <div class="col-md-6 text-center text-md-right mb-4">
       <ul class="social">
         <li><a class="fa fa-facebook" target="_blank" href="https://www.facebook.com/Seguridadatuspies/"></a></li>
         <li><a class="fa fa-twitter" target="_blank" href="https://twitter.com/SeguAtuspies"></a></li>
         <li><a class="fa fa-instagram" target="_blank" href="https://www.instagram.com/seguridadatuspies/"></a></li>
         <div class="clear"></div>
       </ul>
     </div>
   </div>
 </div>
</footer>
 <!-- script -->
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 <script src="../bootstrap/js/bootstrap.min.js"></script>	
</body>
</html>